In [12]:
# create simple list
numbers = [1, 2, 6, 9, 14]
print(numbers)
type(numbers)

[1, 2, 6, 9, 14]

list

In [15]:
# access elements in list (indexing)
print(numbers[0]) # "normal" --> first element
print(numbers[-1]) # "reversed" --> last element
print(numbers[-4]) # "reversed" --> first element
print(numbers)

# bitte Listenlänge beachten: numbers[5]

1
14
2
[1, 2, 6, 9, 14]

In [17]:
my_list1 = [5, 12, 13, 14] # the list contains all integer values
my_list1

[5, 12, 13, 14]

In [18]:
print(my_list1)

[5, 12, 13, 14]

In [20]:
# create an empty list
emptylist = []
emptylist

[]

In [21]:
n1 = [1,2,3]
n2 = [4,5,6]
# append n2 to n1
n = n1 + n2
n

[1, 2, 3, 4, 5, 6]

In [22]:
# add an element to the list
n.append(7)
n

[1, 2, 3, 4, 5, 6, 7]

In [23]:
# get length of list
len(n)

7

In [24]:
# insert an element at position p
p = 2
n.insert(p, 99)
n

[1, 2, 99, 3, 4, 5, 6, 7]

In [29]:
# update an existing element
n[4] = 40
n[4] = int(n[4] / 2)
n

[1, 2, 99, 3, 20, 5, 6, 7]

In [30]:
# clear list (remove all elements)
# n.clear()

# remove 3rd element
del(n[2])
n

[1, 2, 3, 20, 5, 6, 7]

In [48]:
# get element at index 2 and remove it
print("Result of n.pop(2): " + str(n.pop(2)))
n

Result of n.pop(2): 3

[1, 2, 4, 5, 6, 7]

In [50]:
# get last element from list and remove it
print(n.pop())
print(n)

6
[1, 2, 4, 5]

# Slicing

In [31]:
# get first three elements
n[0:3]

[1, 2, 3]

In [32]:
# get four elements starting at index 3
n[3:7]

[20, 5, 6, 7]

In [33]:
# get all remaining elements starting at index 4
n[4:]

[5, 6, 7]

In [35]:
# get all elements till index 4
n[:5]

[1, 2, 3, 20, 5]

In [37]:
print(n)
n[1:-1]

[1, 2, 3, 20, 5, 6, 7]

[2, 3, 20, 5, 6]

In [39]:
# get the ID of the object n
print(n)
id(n)

[1, 2, 3, 20, 5, 6, 7]

2387597668488

In [40]:
# n2 points to the same object as n
n2 = n
print(n2)
id(n2)

[1, 2, 3, 20, 5, 6, 7]

2387597668488

In [43]:
# make a copy of a list
#n3 = n[:]  
n3 = n.copy()  # preferred
print(n3)
id(n3)

[1, 2, 3, 20, 5, 6, 7]

2387599108808

In [45]:
# be careful with variables pointing to the same object
n2[3] = 4
n2

[1, 2, 3, 4, 5, 6, 7]

In [46]:
n

[1, 2, 3, 4, 5, 6, 7]

In [47]:
n3

[1, 2, 3, 20, 5, 6, 7]

# List Comprehension

In [52]:
n3

[1, 2, 3, 20, 5, 6, 7]

In [57]:
# quadriere jedes Element der Liste und 
# gib eine neue Liste zurück
[element**2 for element in n3]

[1, 4, 9, 400, 25, 36, 49]

In [56]:
new_list = []
for element in n3:
    new_list.append(element**2)
    
new_list

[1, 4, 9, 400, 25, 36, 49]